<div class="grid grid-cols-12 bg-teal-400 sm:px-5">
  <div class="col-span-11">
    <nav class="navbar navbar-expand-lg navbar-light font-serif font-semibold flex lg:justify-center">
      <div class="xl:w-2/3">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded text-blue-900 pl-2"
              routerLink="/employee">DASH BOARD</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded dropdown-toggle text-blue-900 pl-2"
              href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AGENT</a>
            <div class="dropdown-menu bg-teal-900 xl:mx-3 bg-opacity-80" aria-labelledby="dropdownId">
              <a class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300 lowercase"
                routerLink="addAgent">ADD AGENT</a>
              <a class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300 lowercase"
                routerLink="viewAgent">VIEW AGENT</a>
              <a class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300 lowercase"
                routerLink="viewCommission">VIEW COMMISSION</a>
              <a class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300 lowercase"
                routerLink="viewCommissionWithrawl">VIEW COMMISSION WITHDRAWL</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded dropdown-toggle text-blue-900 uppercase pl-2"
              href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">insurance</a>
            <div class="dropdown-menu bg-teal-900 xl:mx-3 bg-opacity-80 ml-5 lg:ml-0" aria-labelledby="dropdownId">
              <a class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                routerLink="viewCustomers">view customers</a>
              <a class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                routerLink="viewInsuranceAccountDetailgent">insurance account</a>
              <!-- <a
                class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                href="agentViewPayments .html"
                >view policy payment</a
              >
              <a
                class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                href="agentViewPolicyclaims.html"
                >view policy claim</a
              > -->
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded dropdown-toggle text-blue-900 uppercase pl-2"
              href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">account</a>
            <div class="dropdown-menu bg-teal-900 xl:mx-3 bg-opacity-80 ml-5 lg:ml-0" aria-labelledby="dropdownId">

              <a class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                routerLink="changePassword">change password</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-span-1 flex justify-end pt-1 h-12">
    <button class="btn-red" (click)="logout()">logout</button>
  </div>
</div>