<div class="py-2 flex justify-around">
  <div class="bg-teal-200 2xl:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500">
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        View Commission Records
      </div>
    </div>
    <br /><br />
    <div class="flex justify-center">
      <div>
        <table class="table-teal">
          <thead class="thead-teal">
            <tr>
              <th class="th-teal">Insurance Account Number</th>
              <th class="th-teal">Agent</th>
              <th class="th-teal">Date</th>
              <th class="th-teal">Commission</th>
              <th class="">Commission Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tr-teal" *ngFor="let commission of commissions">
              <td class="td-teal">{{ commission.insuranceAccountNumber }}</td>
              <td class="td-teal">{{ commission.agentId }}</td>
              <td class="td-teal">
                {{ commission.commissionDate | date: "shortDate" }}
              </td>
              <td class="td-teal">{{ commission.commissionPercentage }}%</td>
              <td class="td-teal">Rs. {{ commission.commissionAmount | number:".2-2" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="flex justify-center">
      <div class="underline text-lg py-3">
        Commission Account Balance: Rs.
        {{ commissions[0].commissionAccount.balance | number:".2-2" }}
      </div>
    </div>
    <div class="flex justify-center">
      <button class="btn-teal" (click)="withdraw()">Withdraw</button>
    </div>
  </div>
</div>