<div class="py-2 flex justify-around">
  <div class="bg-teal-200 w-4/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500">
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        View Insurance Account Detail
      </div>
    </div>
    <br /><br />
    <div class="flex justify-center">
      <table class="table-teal">
        <thead class="thead-teal">
          <tr>
            <th class="th-teal">Customer</th>
            <th class="th-teal">Account Number</th>
            <th class="th-teal">Insurance Plan</th>
            <th class="th-teal">Insurance Scheme</th>
            <th class="th-teal">Date Created</th>
            <th class="th-teal">Maturity Date</th>
            <th class="th-teal">Policy Term</th>
            <th class="th-teal">Total Premium Amount</th>

            <th class="th-teal">Sum Assured</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="tr-teal"
            *ngFor="let insuranceAccount of insuranceAccounts"
          >
            <td class="td-teal">
              {{ insuranceAccount.customer.customerName }}
            </td>
            <td class="td-teal">{{ insuranceAccount.insuranceAccountId }}</td>
            <td class="td-teal">{{ insuranceAccount.insurancePlan }}</td>
            <td class="td-teal">{{ insuranceAccount.insuranceScheme }}</td>
            <td class="td-teal">{{ insuranceAccount.dateCreated }}</td>
            <td class="td-teal">{{ insuranceAccount.maturityDate }}</td>
            <td class="td-teal">{{ insuranceAccount.policyTerm }}</td>
            <td class="td-teal">
              Rs. {{ insuranceAccount.totalPremiumAmount }}
            </td>

            <td class="td-teal">Rs. {{ insuranceAccount.sumAssured }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
