<div class="grid grid-cols-12 bg-teal-400 sm:px-5">
  <div class="col-span-11">
    <nav
      class="navbar navbar-expand-lg navbar-light font-serif font-semibold flex lg:justify-center"
    >
      <div class="container xl:w-2/3">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a
              class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded text-blue-900 pl-2"
              routerLink="/customer"
              >ACCOUNT
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded dropdown-toggle text-blue-900 pl-2"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >CUSTOMER PROFILE</a
            >
            <div
              class="dropdown-menu bg-teal-900 xl:mx-3 bg-opacity-80"
              aria-labelledby="dropdownId"
            >
              <a
                class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                routerLink="profile"
                >PROFILE</a
              >

              <a
                class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                routerLink="changePassword"
                >CHANGE PASSWORD</a
              >
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded dropdown-toggle text-blue-900 pl-2"
              id="dropdownId"
              routerLink="/customer/"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >INSURANCE PLANS</a
            >
            <div
              class="dropdown-menu bg-teal-900 xl:mx-3 bg-opacity-80"
              aria-labelledby="dropdownId"
            >
              <a
                class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                *ngFor="let plan of insurancePlans"
                (click)="viewPLan(plan)"
                >{{ plan.insurancePlan }}</a
              >
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded text-blue-900 pl-2"
              routerLink="viewAccount"
              >INSURANCE ACCOUNT</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded text-blue-900 pl-2"
              routerLink="makePayment"
              >Payment</a
            >
          </li>
          <!-- <li class="nav-item dropdown">
            <a
              class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded dropdown-toggle text-blue-900 pl-2"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >QUERIES
            </a>
            <div
              class="dropdown-menu bg-teal-900 xl:mx-3 bg-opacity-80"
              aria-labelledby="dropdownId"
            >
              <a
                class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                routerLink="query"
                >ENQUIRY</a
              >
              <a
                class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                routerLink="feedback"
                >VIEW FEEDBACK</a
              >
            </div>
          </li> -->
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-span-1 flex justify-end pt-1 h-12">
    <button class="btn-red" (click)="logout()">logout</button>
  </div>
</div>
