<app-app-navbar></app-app-navbar>
<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        Customer Registration
      </div>

      <div class="flex justify-center font-semibold text-lg">
        <!-- <form
          class="w-full text-teal-900"
          [formGroup]="addUserForm"
          (ngSubmit)="addUser(cpassword.value)"
        >
          <div class="">
            <label for=""> Customer name</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your name"
                type="text"
                name="username"
                formControlName="customerName"
              />
            </div>
          </div>
          <div class="">
            <label for=""> Date Of Birth</label>
            <div class="mt-1">
              <input
                class="input-teal"
                type="date"
                placeholder=""
                name="birthday"
                formControlName="dateOfBirth"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Email Id</label>
            <div class="mt-1">
              <input
                class="input-teal"
                type="email"
                placeholder="Enter your email Id"
                name="email"
                formControlName="emailId"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Password</label>
            <div class="mt-1">
              <input
                class="input-teal"
                type="password"
                placeholder="Enter your password"
                name="password"
                formControlName="password"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Confirm Password</label>
            <div class="mt-1">
              <input
                #cpassword
                class="input-teal"
                type="password"
                placeholder="Enter your password again"
                name="cpassword"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Address</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your address"
                type="text"
                name="address"
                formControlName="address"
              />
            </div>
          </div>
          <div class="flex justify-between">
            <div class="w-full pr-1 lg:pr-5">
              <label for="state">State</label>
              <div class="mt-1">
                <select
                  class="input-teal"
                  name="state"
                  id="state"
                  formControlName="state"
                >
                  <option class="bg-teal-600 text-white" value="Uttar pradesh">
                    Uttar pradesh
                  </option>
                  <option class="bg-teal-600 text-white" value="maharastra">
                    Maharastra
                  </option>
                  <option class="bg-teal-600 text-white" value="telengana">
                    Telengana
                  </option>
                  <option class="bg-teal-600 text-white" value="westbengal">
                    West Bengal
                  </option>
                </select>
              </div>
            </div>

            <div class="w-full">
              <label class="flex" for="city">City</label>
              <div class="mt-1 flex">
                <select
                  class="input-teal"
                  name="city"
                  id="city"
                  formControlName="city"
                >
                  <option class="bg-teal-600 text-white" value="lucknow">
                    Lucknow
                  </option>
                  <option class="bg-teal-600 text-white" value="mumbai">
                    Mumbai
                  </option>
                  <option class="bg-teal-600 text-white" value="hyderabad">
                    Hyderabad
                  </option>
                  <option class="bg-teal-600 text-white" value="kolkata">
                    kolkata
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="">
            <label for=""> Pincode</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your pincode"
                type="text"
                name="pincode"
                formControlName="pincode"
              />
            </div>
          </div>
          <div class="">
            <label for=""> Mobile Number</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your mobile number"
                type="text"
                name="mobile"
                formControlName="contactNumber"
              />
            </div>
          </div>
          <div class="">
            <label for=""> Nominee</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your Nominee name"
                type="text"
                name="nominee"
                formControlName="nomineeName"
              />
            </div>
          </div>
          <div class="">
            <label for=""> Nominee Relation</label>
            <div class="mt-1">
              <select
                class="input-teal w-full"
                name="relation"
                id="relation"
                formControlName="nomineeRelation"
              >
                <option class="bg-teal-600 text-white" value="father">
                  Father
                </option>
                <option class="bg-teal-600 text-white" value="mother">
                  Mother
                </option>
                <option class="bg-teal-600 text-white" value="spouse">
                  Spouse
                </option>
                <option class="bg-teal-600 text-white" value="child">
                  Child
                </option>
              </select>
            </div>
          </div>
          <div class="flex justify-center">
            <input
              class="btn-teal text-3xl mt-5 py-2 px-3"
              type="submit"
              name="submit"
              value="submit"
            />
          </div>
        </form> -->
        <form
          class="w-full text-teal-900"
          [formGroup]="addUserForm"
          (ngSubmit)="addUser(cpassword.value)"
        >
          <div class="">
            <label for=""> Customer name</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your name"
                type="text"
                name="username"
                formControlName="customerName"
              />
            </div>
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                addUserForm.get('customerName')?.hasError('required') &&
                addUserForm.get('customerName')?.touched
              "
              >Customer Name is Required</small
            >
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                addUserForm.get('customerName')?.hasError('maxlength') &&
                addUserForm.get('customerName')?.touched
              "
              >Customer Name's Maximum length should be 50</small
            >
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                addUserForm.get('customerName')?.hasError('pattern') &&
                addUserForm.get('customerName')?.touched
              "
              >Customer Name should contain only characters.</small
            >
          </div>
          <div class="">
            <label for=""> Date Of Birth</label>
            <div class="mt-1">
              <input
                class="input-teal"
                type="date"
                placeholder=""
                name="birthday"
                formControlName="dateOfBirth"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Email Id</label>
            <div class="mt-1">
              <input
                class="input-teal"
                type="email"
                placeholder="Enter your email Id"
                name="email"
                formControlName="emailId"
              />
            </div>
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                addUserForm.get('emailId')?.hasError('required') &&
                addUserForm.get('emailId')?.touched
              "
              >Email ID is Required</small
            >
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                addUserForm.get('emailId')?.hasError('email') &&
                addUserForm.get('emailId')?.touched
              "
              >Email should be in Valid Format</small
            >
          </div>

          <div class="">
            <label for=""> Password</label>
            <div class="mt-1">
              <input
                class="input-teal"
                type="password"
                placeholder="Enter your password"
                name="password"
                formControlName="password"
              />
            </div>
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                addUserForm.get('password')?.hasError('required') &&
                addUserForm.get('password')?.touched
              "
              >Password is Required</small
            >
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                addUserForm.get('password')?.hasError('minlength') &&
                addUserForm.get('password')?.touched
              "
              >Password is of Minimum 8 characters</small
            >
          </div>

          <div class="">
            <label for=""> Confirm Password</label>
            <div class="mt-1">
              <input
                #cpassword
                class="input-teal"
                type="password"
                placeholder="Enter your password again"
                name="cpassword"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Address</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your address"
                type="text"
                name="address"
                formControlName="address"
              />
            </div>
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                addUserForm.get('address')?.hasError('required') &&
                addUserForm.get('address')?.touched
              "
              >Address is Required</small
            >
          </div>
          <div class="flex justify-between">
            <div class="w-full pr-1 lg:pr-5">
              <label for="state">State</label>
              <div class="mt-1">
                <select
                  class="input-teal"
                  name="state"
                  id="state"
                  formControlName="state"
                >
                  <option class="bg-teal-600 text-white" value="Uttar pradesh">
                    Uttar pradesh
                  </option>
                  <option class="bg-teal-600 text-white" value="maharastra">
                    Maharastra
                  </option>
                  <option class="bg-teal-600 text-white" value="telengana">
                    Telengana
                  </option>
                  <option class="bg-teal-600 text-white" value="westbengal">
                    West Bengal
                  </option>
                </select>
              </div>
            </div>
            <div class="w-full">
              <label class="flex" for="city">City</label>
              <div class="mt-1 flex">
                <select
                  class="input-teal"
                  name="city"
                  id="city"
                  formControlName="city"
                >
                  <option class="bg-teal-600 text-white" value="lucknow">
                    Lucknow
                  </option>
                  <option class="bg-teal-600 text-white" value="mumbai">
                    Mumbai
                  </option>
                  <option class="bg-teal-600 text-white" value="hyderabad">
                    Hyderabad
                  </option>
                  <option class="bg-teal-600 text-white" value="kolkata">
                    kolkata
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="">
            <label for=""> Pincode</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your pincode"
                type="text"
                name="pincode"
                formControlName="pincode"
              />
            </div>
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                addUserForm.get('pincode')?.hasError('required') &&
                addUserForm.get('pincode')?.touched
              "
              >Pincode is Required</small
            >
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                addUserForm.get('pincode')?.hasError('pattern') &&
                addUserForm.get('pincode')?.touched
              "
              >Pincode is of 6 digits</small
            >
          </div>

          <div class="">
            <label for=""> Mobile Number</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your mobile number"
                type="text"
                name="mobile"
                formControlName="contactNumber"
              />
            </div>
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                addUserForm.get('contactNumber')?.hasError('required') &&
                addUserForm.get('contactNumber')?.touched
              "
              >Contact Number is Required</small
            >
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                addUserForm.get('contactNumber')?.hasError('pattern') &&
                addUserForm.get('contactNumber')?.touched
              "
              >Contact Number should be in valid format</small
            >
          </div>
          <div class="">
            <label for=""> Nominee</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your Nominee name"
                type="text"
                name="nominee"
                formControlName="nomineeName"
              />
            </div>
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                addUserForm.get('nomineeName')?.hasError('required') &&
                addUserForm.get('nomineeName')?.touched
              "
              >Nominee Name is Required</small
            >
          </div>

          <div class="">
            <label for=""> Nominee Relation</label>
            <div class="mt-1">
              <select
                class="input-teal w-full"
                name="relation"
                id="relation"
                formControlName="nomineeRelation"
              >
                <option class="bg-teal-600 text-white" value="father">
                  Father
                </option>
                <option class="bg-teal-600 text-white" value="mother">
                  Mother
                </option>
                <option class="bg-teal-600 text-white" value="spouse">
                  Spouse
                </option>
                <option class="bg-teal-600 text-white" value="child">
                  Child
                </option>
              </select>
            </div>
          </div>
          <div class="flex justify-center">
            <input
              class="btn-teal text-3xl mt-5 py-2 px-3"
              type="submit"
              name="submit"
              value="submit"
            />
          </div>
        </form>
      </div>
      <div class="flex justify-center">
        <a routerLink="/customerLogin">
          <span
            class="text-teal-900 pt-2 hover:cursor-pointer hover:text-red-500"
            >Already registerd? go to login page</span
          >
        </a>
      </div>
    </div>
  </div>
</div>
