@tailwind base;
/* @import "tailwindcss/base";
@import "tailwindcss/components"; */
@tailwind components;
.btn-teal{
    @apply bg-teal-700 text-white px-4 py-1 m-1 rounded shadow shadow-teal-800 active:bg-teal-400 active:text-gray-600 hover:bg-teal-600 hover:shadow-md hover:shadow-teal-900 transform hover:scale-105;
}
.input-teal{
    @apply w-full rounded-lg shadow hover:border-teal-500 focus:border-teal-700 focus:ring-teal-500 placeholder:italic placeholder:font-serif;
}
.card{
    @apply flex w-4/5 items-center overflow-hidden bg-teal-300  m-3 rounded-lg
    shadow-md shadow-teal-500 hover:shadow-lg hover:shadow-teal-600;
}
.btn-red{
    @apply bg-red-700 text-white px-4 py-1 m-1 rounded shadow shadow-red-800 active:bg-red-400 active:text-gray-600 hover:bg-red-600 hover:shadow-md hover:shadow-red-900 ;
}
.th-teal{
    @apply px-3 py-1 border-r border-teal-100;
}
.td-teal{
    @apply border-r border-teal-700;
}
.table-teal{
    @apply text-center rounded border-l border-r border-b border-teal-700;
}
.tr-teal{
    @apply border-b border-teal-700 hover:bg-teal-300;
}
.thead-teal{
    @apply bg-teal-700 text-gray-100;
}
@tailwind utilities;
/* @import "tailwindcss/utilities"; */

