<div class="py-2 flex justify-around">
  <div class="bg-teal-200 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500">
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        Customer Details Update
      </div>

      <div class="flex justify-center font-semibold text-lg">
        <form class="w-full text-teal-900" #updateForm="ngForm" (ngSubmit)="updateCustomer()">
          <div class="row">
            <label for="username"> Customer name</label>
            <div class="mt-1">
              <input id="username" class="input-teal" type="text" name="username" [(ngModel)]="customer.customerName"
                disabled />
            </div>
          </div>
          <div class="row">
            <label for="date"> Date Of Birth</label>
            <div class="mt-1">
              <input class="input-teal" type="text" id="date" placeholder="" name="birthday"
                value='{{customer.dateOfBirth |  date: "shortDate"}}' disabled />
            </div>
          </div>

          <div class="row">
            <label for="email"> Login Id</label>
            <div class="mt-1">
              <input id="email" class="input-teal" type="email" placeholder="Enter your email Id" name="email"
                [(ngModel)]="customer.emailId" disabled readonly />
            </div>
          </div>

          <div class="row">
            <label for="address"> Address</label>
            <div class="mt-1">
              <input id="address" class="input-teal" placeholder="Enter your address" type="text" name="address"
                [(ngModel)]="customer.address" />
            </div>
          </div>

          <div class="row">
            <label for="pincode"> Pincode</label>
            <div class="mt-1">
              <input id="pincode" class="input-teal" placeholder="Enter your pincode" type="text" name="pincode"
                [(ngModel)]="customer.pincode" />
            </div>
          </div>
          <div class="row">
            <label for=""> Mobile Number</label>
            <div class="mt-1">
              <input id="mobile" class="input-teal" placeholder="Enter your mobile number" type="text" name="mobile"
                [(ngModel)]="customer.contactNumber" />
            </div>
          </div>
          <div class="">
            <label for="nominee"> Nominee</label>
            <div class="mt-1">
              <input id="nominee" class="input-teal" placeholder="Enter your Nominee name" type="text" name="nominee"
                [(ngModel)]="customer.nomineeName" />
            </div>
          </div>
          <div class="">
            <label for="relation"> Nominee Relation</label>
            <div class="mt-1">
              <select class="input-teal w-full" name="relation" id="relation" [(ngModel)]="customer.nomineeRelation">
                <option class="bg-teal-600 text-white" value="father">
                  Father
                </option>
                <option class="bg-teal-600 text-white" value="mother">
                  Mother
                </option>
                <option class="bg-teal-600 text-white" value="spouse">
                  Spouse
                </option>
                <option class="bg-teal-600 text-white" value="child">
                  Child
                </option>
              </select>
            </div>
          </div>
          <div class="flex justify-center">
            <input class="btn-teal text-3xl mt-5 py-2 px-3" type="submit" name="submit" value="update" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>