<!-- <app-admin-nav-bar></app-admin-nav-bar> -->
<router-outlet></router-outlet>
<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        View Agent Records
      </div>

      <div class="flex justify-center font-semibold text-lg"></div>
    </div>
    <br /><br />
    <div class="flex justify-center">
      <div>
        <table class="table-teal">
          <thead class="thead-teal">
            <tr>
              <th class="th-teal">Agent Name</th>
              <th class="th-teal">Agent Code</th>
              <th class="th-teal">Address</th>
              <th class="th-teal">Email-id</th>
              <th class="th-teal">Qualifications</th>
              <th class="th-teal">Status</th>
              <th>Update</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tr-teal" *ngFor="let agent of agents">
              <td class="td-teal">{{ agent.agentName }}</td>
              <td class="td-teal">{{ agent.agentCode }}</td>
              <td class="td-teal">{{ agent.agentAddress }}</td>
              <td class="td-teal">{{ agent.emailId }}</td>
              <td class="td-teal">{{ agent.qualification }}</td>
              <td class="td-teal">{{ agent.status }}</td>

              <td class="td-teal">
                <input
                  class="btn-teal mt-1 py-2 px-3"
                  type="submit"
                  name="submit"
                  value="edit"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
