<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 w-4/5 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        Update Agent Record
      </div>

      <div class="flex justify-center font-semibold text-lg">
        <form class="w-full text-teal-900" action="">
          <div class="">
            <label for=""> Agent name</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your name"
                type="text"
                name="username"
                value="Divyashree"
                readonly
              />
            </div>
          </div>

          <div class="">
            <label for=""> Agent Code</label>
            <div class="mt-1">
              <input
                class="input-teal"
                type="text"
                placeholder="Enter Agent Code"
                name="agentCode"
                value="divya"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Password</label>
            <div class="mt-1">
              <input
                class="input-teal"
                type="password"
                placeholder="Enter Agent Password"
                name="password"
                value="divya123"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Confirm Password</label>
            <div class="mt-1">
              <input
                class="input-teal"
                type="password"
                placeholder=""
                name="cPassword"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Email Id</label>
            <div class="mt-1">
              <input
                class="input-teal"
                type="email"
                placeholder="Enter Agent Email"
                name="email"
                value="divya007@gmail.com"
              />
            </div>
          </div>

          <div class="">
            <label for="">Agent Address</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your address"
                type="text"
                name="address"
                value="mumbai"
              />
            </div>
          </div>
          <div class="">
            <label for="">Qualification</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your Qualification"
                type="text"
                name="qualification"
                value="MCA"
              />
            </div>
          </div>

          <div class="">
            <label for="">Status</label>
            <div class="mt-1">
              <select class="input-teal w-full" name="status" id="status">
                <option class="bg-teal-600 text-white" value="active">
                  Active
                </option>
                <option class="bg-teal-600 text-white" value="inactive">
                  Inactive
                </option>
              </select>
            </div>
          </div>
          <div class="flex justify-center">
            <input
              class="btn-teal text-xl mt-5 py-2 px-3"
              type="submit"
              name="submit"
              value="submit"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
