<div class="flex justify-center pt-5 font-bold text-4xl text-teal-800 underline">
  Welcome
</div>
<div class="flex justify-center pt-1 font-bold text-2xl text-teal-800">
  {{ user }}
</div>

<div class="p-5 px-20 grid justify-center gap-10 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
  <div class="col-span-1 rounded overflow-hidden">
    <a routerLink="addAgent">
      <div
        class="flex w-4/5 h-40 items-center overflow-hidden bg-teal-300 m-5 rounded-lg shadow-md shadow-teal-500 hover:shadow-lg hover:shadow-teal-600 transform hover:scale-105 transision ease-out duration-200">
        <div class="w-1/2 shadow-md shadow-teal-500">
          <img class="h-40 w-full" src="assets/img/add-agent.jpg" alt="Profile" />
        </div>
        <div class="flex justify-center w-1/2">
          <span
            class="px-5 text-blue-900 font-bold font-serif text-lg lg:text-2xl hover:text-green-900 hover:underline">
            Add Agent</span>
        </div>
      </div>
    </a>
  </div>

  <div class="col-span-1 rounded overflow-hidden">
    <a routerLink="viewCustomers">
      <div
        class="flex w-4/5 h-40 items-center overflow-hidden bg-teal-300 m-5 rounded-lg shadow-md shadow-teal-500 hover:shadow-lg hover:shadow-teal-600 transform hover:scale-105 transision ease-out duration-200">
        <div class="w-1/2 shadow-md shadow-teal-500">
          <img class="h-40 w-full" src="assets/img/add-emp.jpg" alt="Profile" />
        </div>
        <div class="flex justify-center w-1/2">
          <span
            class="px-5 text-blue-900 font-bold font-serif text-lg xl:text-2xl hover:text-green-900 hover:underline">
            View Customer</span>
        </div>
      </div>
    </a>
  </div>

  <div class="col-span-1 rounded overflow-hidden">
    <a href="customerupdate.html">
      <div
        class="flex w-4/5 h-40 items-center overflow-hidden bg-teal-300 m-5 rounded-lg shadow-md shadow-teal-500 hover:shadow-lg hover:shadow-teal-600 transform hover:scale-105 transision ease-out duration-200">
        <div class="w-1/2 shadow-md shadow-teal-500">
          <img class="h-40 w-full" src="assets/img/9.jpg" alt="Profile" />
        </div>
        <div class="flex justify-center w-1/2">
          <span
            class="px-5 text-blue-900 font-bold font-serif text-lg xl:text-2xl hover:text-green-900 hover:underline">
            Insurance Account</span>
        </div>
      </div>
    </a>
  </div>

  <!-- <div class="col-span-1 rounded overflow-hidden">
    <a href="customerupdate.html">
      <div
        class="flex w-4/5 h-40 items-center overflow-hidden bg-teal-300 m-5 rounded-lg shadow-md shadow-teal-500 hover:shadow-lg hover:shadow-teal-600 transform hover:scale-105 transision ease-out duration-200"
      >
        <div class="w-1/2 shadow-md shadow-teal-500">
          <img class="h-40 w-full" src="assets/img/6.jpg" alt="Profile" />
        </div>
        <div class="flex justify-center w-1/2">
          <span
            class="px-5 text-blue-900 font-bold font-serif text-lg xl:text-2xl hover:text-green-900 hover:underline"
          >
            Query or Feedback</span
          >
        </div>
      </div>
    </a>
  </div>

  <div class="col-span-1 rounded overflow-hidden">
    <a href="customerupdate.html">
      <div
        class="flex w-4/5 h-40 items-center overflow-hidden bg-teal-300 m-5 rounded-lg shadow-md shadow-teal-500 hover:shadow-lg hover:shadow-teal-600 transform hover:scale-105 transision ease-out duration-200"
      >
        <div class="w-1/2 shadow-md shadow-teal-500">
          <img class="h-40 w-full" src="assets/img/4.jpg" alt="Profile" />
        </div>
        <div class="flex justify-center w-1/2">
          <span
            class="px-5 text-blue-900 font-bold font-serif text-lg xl:text-2xl hover:text-green-900 hover:underline"
          >
            View Feedback</span
          >
        </div>
      </div>
    </a>
  </div>

  <div class="col-span-1 rounded overflow-hidden">
    <a href="changePassword.html">
      <div
        class="flex w-4/5 h-40 items-center overflow-hidden bg-teal-300 m-5 rounded-lg shadow-md shadow-teal-500 hover:shadow-lg hover:shadow-teal-600 transform hover:scale-105 transision ease-out duration-200"
      >
        <div class="w-1/2 shadow-md shadow-teal-500">
          <img class="h-40 w-full" src="assets/img/7.jpg" alt="Profile" />
        </div>
        <div class="flex justify-center w-1/2">
          <span
            class="px-5 text-blue-900 font-bold font-serif hover:text-green-900 hover:underline"
          >
            Change Password</span
          >
        </div>
      </div>
    </a>
  </div> -->
</div>