<div class="py-2 flex justify-around">
  <div class="bg-teal-200 md:w-1/2 xl:w-1/3 p-5 my-5 shadow-md shadow-teal-500">
    <div
      class="text-4xl text-teal-900 uppercase underline flex justify-center pb-2"
    >
      Tax Panel
    </div>

    <div class="flex justify-center w-full">
      <div class="w-full pt-5">
        <form
          class="text-teal-900 w-full"
          [formGroup]="updateTaxForm"
          (ngSubmit)="updateTax()"
        >
          <div>
            <label for="tax">Tax(In Percentage %)</label>
            <input
              class="input-teal"
              type="text"
              formControlName="taxPercentage"
            />
          </div>
          <div class="flex justify-center">
            <input
              class="btn-teal mt-5"
              type="submit"
              name="submit"
              value="update"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
