<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-1">
        Query Feedback
      </div>
      <div class="text-md text-teal-900 flex justify-center pb-5">
        <label for=""> Please give us your feedback ....</label>
      </div>
      <div class="flex justify-center font-semibold text-lg">
        <form class="w-full text-teal-900" action="">
          <div class="">
            <label for=""> Title</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Title"
                type="text"
                name="title"
              />
            </div>
          </div>
          <div class="mt-3">
            <label for=""> Message</label>
            <div class="mt-1">
              <!-- <input class="input-teal" type="textArea" placeholder="Enter your feedback message" name="email" /> -->
              <textarea
                id="message"
                rows="4"
                class="block p-2.5 w-full input-teal"
                placeholder="Your message..."
              ></textarea>
            </div>
          </div>

          <div class="flex justify-center">
            <input
              class="btn-teal text-xl mt-5 py-2 px-3"
              type="submit"
              name="submit"
              value="submit"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
