<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        View State Records
      </div>

      <div class="flex justify-center font-semibold text-lg"></div>
    </div>
    <br /><br />
    <div class="flex justify-center">
      <div class="w-full">
        <table class="table-teal w-full">
          <thead class="thead-teal">
            <tr>
              <th class="th-teal">State</th>
              <th class="th-teal">Status</th>
              <th class="">Update</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tr-teal" *ngFor="let state of states">
              <td class="td-teal">{{ state.state }}</td>
              <td class="td-teal">{{ state.status }}</td>
              <td class="td-teal">
                <!-- <a routerLink="updateStatus/{{ state.stateId }}"> -->
                <button
                  class="btn-teal mt-1 py-2 px-3"
                  type="submit"
                  (click)="open(updateStatus, state)"
                >
                  Update Status
                </button>
                <!-- </a> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- //modal -->
<ng-template #updateStatus let-modal>
  <div class="bg-teal-200 rounded-lg text-teal-900">
    <div class="modal-header">
      <span class="modal-title text-xl">Update State</span>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true" class="text-lg btn-red uppercase">X</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="flex justify-center w-full">
        <div class="w-full">
          <form
            class="text-teal-900 w-full"
            (ngSubmit)="updateStateStatus(status.value)"
          >
            <label for="state">State:</label>
            <input
              class="input-teal"
              type="text"
              id="state"
              value="{{ state.state }}"
              readonly
            />
            <div class="">
              <label for="">Status</label>
              <div class="mt-1">
                <select
                  #status
                  class="input-teal w-full"
                  name="status"
                  id="status"
                >
                  <option class="bg-teal-600 text-white" value="active">
                    Active
                  </option>
                  <option class="bg-teal-600 text-white" value="inactive">
                    Inactive
                  </option>
                </select>
              </div>
            </div>
            <div class="flex justify-center">
              <input
                (click)="modal.close('Save click')"
                class="btn-teal mt-5"
                type="submit"
                name="submit"
                value="submit"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
