<app-app-navbar></app-app-navbar>
<div class="">
  <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-bs-target="#carouselId"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="First slide"
      ></li>
      <li
        data-bs-target="#carouselId"
        data-bs-slide-to="1"
        aria-label="Second slide"
      ></li>
      <li
        data-bs-target="#carouselId"
        data-bs-slide-to="2"
        aria-label="Third slide"
      ></li>
      <li
        data-bs-target="#carouselId"
        data-bs-slide-to="3"
        aria-label="Fourth slide"
      ></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img
          src="assets/img/photo_6213015724239204529_y.jpg"
          class="w-100 d-block"
          alt="First slide"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/img/photo_6213015724239204530_y.jpg"
          class="w-100 d-block"
          alt="Second slide"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/img/photo_6213015724239204527_y.jpg"
          class="w-100 d-block"
          alt="third slide"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/img/photo_6213015724239204528_y.jpg"
          class="w-100 d-block"
          alt="Fourth slide"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselId"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselId"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
