<div class="py-2 flex justify-center">
  <div class="bg-teal-200 md:w-1/2 xl:w-1/4 p-5 my-5 shadow-md shadow-teal-500">
    <div class="text-4xl text-teal-900 flex justify-center pb-5">
      <div>
        <div>
          <img
            class="h-40 w-100"
            src="assets/img/404.png"
            alt="Page Not Found"
          />
        </div>
        <div class="flex justify-center pt-5">Page Not Found.</div>
      </div>
    </div>
  </div>
</div>
