<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        Customer Documents
      </div>

      <div class="flex justify-center font-semibold text-lg">
        <form class="flex justify-center w-full text-teal-900" action="">
          <div class="bg-teal-300 p-5 rounded shadow shadow-teal-600">
            <div class="">
              <label for=""> Document Type</label>
              <div class="mt-1">
                <select class="input-teal w-full" name="document" id="document">
                  <option class="bg-teal-600 text-white" value="Aadhar Card">
                    Aadhar Card
                  </option>
                  <option class="bg-teal-600 text-white" value="Voter ID">
                    Voter ID
                  </option>
                  <option class="bg-teal-600 text-white" value="Ration Card">
                    Ration Card
                  </option>
                  <option class="bg-teal-600 text-white" value="PAN Card">
                    PAN Card
                  </option>
                </select>
              </div>
            </div>
            <div class="mt-3">
              <label for="document"> Document</label>
              <div class="mt-1">
                <!-- <div class="flex justify-center"> -->
                <input
                  class="border-2 border-teal-700 w-full rounded text-gray-100 py-2 px-3 bg-teal-700"
                  type="file"
                  id="document"
                  name="choose"
                  value="Choose File"
                />
              </div>
            </div>
            <!-- </div> -->
            <div class="flex justify-center">
              <input
                class="btn-teal text-lg mt-5 py-2flex justify-center px-3"
                type="submit"
                name="submit"
                value="submit"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="flex justify-center mt-5">
      <table class="table-teal">
        <thead class="thead-teal">
          <tr>
            <th class="th-teal">Document Type</th>
            <th class="th-teal">Document Path</th>
            <th class="px-3 py-1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr-teal">
            <td class="td-teal">Aadhar Card</td>
            <td class="td-teal">
              <!-- <a href="">Download</a> -->
              <input
                class="btn-teal mx-3 my-2 py-2 px-3"
                type="submit"
                name="submit"
                value="Download"
              />
            </td>
            <td class="td-teal">
              <input
                class="btn-red mx-3 my-2 py-2 px-3"
                type="submit"
                name="submit"
                value="Delete"
              />
            </td>
          </tr>
          <tr class="tr-teal">
            <td class="td-teal">Ration Card</td>
            <td class="td-teal">
              <!-- <a href="">Download</a> -->
              <input
                class="btn-teal mx-3 my-2 py-2 px-3"
                type="submit"
                name="submit"
                value="Download"
              />
            </td>
            <td class="td-teal">
              <input
                class="btn-red mx-3 my-2 py-2 px-3"
                type="submit"
                name="submit"
                value="Delete"
              />
            </td>
          </tr>
          <tr class="tr-teal">
            <td class="td-teal">Voter ID</td>
            <td class="td-teal">
              <!-- <a href="">Download</a> -->
              <input
                class="btn-teal mx-3 my-2 py-2 px-3"
                type="submit"
                name="submit"
                value="Download"
              />
            </td>
            <td class="td-teal">
              <input
                class="btn-red mx-3 my-2 py-2 px-3"
                type="submit"
                name="submit"
                value="Delete"
              />
            </td>
          </tr>
          <tr class="tr-teal">
            <td class="td-teal">PAN Card</td>
            <td class="td-teal">
              <!-- <a href="">Download</a> -->
              <input
                class="btn-teal mx-3 my-2 py-2 px-3"
                type="submit"
                name="submit"
                value="Download"
              />
            </td>
            <td class="td-teal">
              <input
                class="btn-red mx-3 my-2 py-2 px-3"
                type="submit"
                name="submit"
                value="Delete"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
