<!-- <app-admin-nav-bar></app-admin-nav-bar> -->
<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 w-4/5 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-1">
        Agent Registration
      </div>
      <span class="text-lg pb-5 flex justify-center"
        >Kindly enter the credentials</span
      >

      <div class="flex justify-center font-semibold text-lg">
        <form
          class="w-full text-teal-900"
          [formGroup]="Form"
          (ngSubmit)="addAgent(cpassword.value)"
        >
          <div class="">
            <label for=""> Agent name</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your name"
                type="text"
                name="username"
                formControlName="agentName"
              />
            </div>
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                Form.get('agentName')?.hasError('required') &&
                Form.get('agentName')?.touched
              "
              >Agent Name is Required</small
            >
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                Form.get('agentName')?.hasError('maxlength') &&
                Form.get('agentName')?.touched
              "
              >Agent Name's Maximum length should be 50</small
            >
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                Form.get('agentName')?.hasError('pattern') &&
                Form.get('agentName')?.touched
              "
              >Agent Name should contain only characters.</small
            >
          </div>

          <div class="">
            <label for=""> Agent Code</label>
            <div class="mt-1">
              <input
                class="input-teal"
                type="text"
                placeholder="Enter Agent Code"
                name="agentCode"
                formControlName="agentCode"
              />
            </div>
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                Form.get('agentCode')?.hasError('required') &&
                Form.get('agentCode')?.touched
              "
              >Agent Code is Required</small
            >
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                Form.get('agentCode')?.hasError('pattern') &&
                Form.get('agentCode')?.touched
              "
              >Agent Code should contain only alphabets and numbers.</small
            >
          </div>

          <div class="">
            <label for=""> Password</label>
            <div class="mt-1">
              <input
                class="input-teal"
                type="password"
                placeholder="Enter Agent Password"
                name="password"
                formControlName="password"
              />
            </div>
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                Form.get('password')?.hasError('required') &&
                Form.get('password')?.touched
              "
              >Password is Required</small
            >
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                Form.get('password')?.hasError('minlength') &&
                Form.get('password')?.touched
              "
              >Password is of Minimum 8 characters</small
            >
          </div>

          <div class="">
            <label for=""> Confirm Password</label>
            <div class="mt-1">
              <input
                #cpassword
                class="input-teal"
                type="password"
                placeholder="Enter Password again"
                name="cPassword"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Email Id</label>
            <div class="mt-1">
              <input
                class="input-teal"
                type="email"
                placeholder="Enter Agent Email"
                name="email"
                formControlName="emailId"
              />
            </div>
          </div>
          <div class="text-red-500">
            <small
              *ngIf="
                Form.get('emailId')?.hasError('required') &&
                Form.get('emailId')?.touched
              "
              >Email ID is Required</small
            >
          </div>

          <div class="text-red-500">
            <small
              *ngIf="
                Form.get('emailId')?.hasError('email') &&
                Form.get('emailId')?.touched
              "
              >Email should be in Valid Format</small
            >
          </div>

          <div class="">
            <label for="">Agent Address</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your address"
                type="text"
                name="address"
                formControlName="agentAddress"
              />
            </div>
          </div>
          <div class="">
            <label for="">Qualification</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your Qualification"
                type="text"
                name="qualification"
                formControlName="qualification"
              />
            </div>
          </div>

          <div class="">
            <label for="">Status</label>
            <div class="mt-1">
              <select
                class="input-teal w-full"
                name="status"
                id="status"
                formControlName="status"
              >
                <option class="bg-teal-600 text-white" value="active">
                  Active
                </option>
                <option class="bg-teal-600 text-white" value="inactive">
                  Inactive
                </option>
              </select>
            </div>
          </div>
          <div class="flex justify-center">
            <input
              class="btn-teal text-3xl mt-5 py-2 px-3"
              type="submit"
              name="submit"
              value="submit"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
