<app-app-navbar></app-app-navbar>
<div class="py-2 flex justify-around">
  <div class="bg-teal-200 md:w-1/2 xl:w-1/4 p-5 my-5 shadow-md shadow-teal-500">
    <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
      Employee Login
    </div>
    <div class="text-red-500">{{ value }}</div>
    <div class="flex justify-center">
      <form
        class="text-teal-900"
        [formGroup]="credentialFrom"
        (ngSubmit)="login()"
        ngNativeValidate
      >
        <label for="username">Email id:</label>
        <input
          class="input-teal"
          type="text"
          id="username"
          name="email"
          formControlName="email"
          required
        />
        <label for="password">Password:</label>
        <input
          class="input-teal"
          type="password"
          password="email"
          formControlName="password"
          required
        />
        <div class="flex justify-center">
          <input
            class="btn-teal mt-5"
            type="submit"
            name="submit"
            value="submit"
          />
        </div>
      </form>
    </div>
  </div>
</div>
