<div class="py-2 flex justify-around">
  <div class="bg-teal-200 2xl:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500">
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        View Commission Withdwals
      </div>

      <div class="flex justify-center font-semibold text-lg">
        <div class="flex justify-center mt-5">
          <div>
            <div>
              <table class="table-teal">
                <thead class="thead-teal">
                  <tr>
                    <th class="th-teal">Witdrawl Date</th>
                    <th class="th-teal">AgentCode</th>
                    <th class="">Commission Account Id</th>
                    <th class="th-teal">Withdrawn Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="tr-teal" *ngFor="let commissionWithdrawl of commissionWithdrawls">
                    <td class="td-teal">
                      {{
                      commissionWithdrawl.withdrawlDate | date: "shortDate"
                      }}
                    </td>
                    <td class="td-teal">
                      {{ commissionWithdrawl.commissionAccount.agentCode }}
                    </td>

                    <td class="td-teal">
                      {{
                      commissionWithdrawl.commissionAccount
                      .commissionAccountId
                      }}
                    </td>
                    <td class="td-teal">
                      {{ commissionWithdrawl.withdrawnAmount | number:".2-2" }}
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>