<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-1">
        Add Insurance Scheme
      </div>

      <div class="flex justify-center font-semibold text-lg">
        <form
          class="w-full text-teal-900"
          [formGroup]="addInsuranceSchemeForm"
          (ngSubmit)="addInsuranceScheme()"
        >
          <div class="">
            <label for=""> Insurance Type:</label>
            <div class="mt-1">
              <select class="input-teal w-full" formControlName="id">
                <option
                  class="bg-teal-600 text-white"
                  *ngFor="let insuranceType of insuranceTypes"
                  value="{{ insuranceType.insuranceTypeId }}"
                >
                  {{ insuranceType.insuranceType }}
                </option>
              </select>
            </div>
          </div>

          <div class="">
            <label for=""> Insurance Scheme:</label>
            <div class="mt-1">
              <input class="input-teal" formControlName="insuranceScheme" />
            </div>
          </div>

          <div class="">
            <label for="">
              Commission For New Registration: (in percentage %)</label
            >
            <div class="mt-1">
              <input
                class="input-teal"
                formControlName="commissionForNewRegistration"
              />
            </div>
          </div>

          <div class="">
            <label for="">
              Commission For Installment Payment: (in percentage %)</label
            >
            <div class="mt-1">
              <input
                class="input-teal"
                formControlName="commissionForInstallmentPayment"
              />
            </div>
          </div>
          <div class="">
            <label for=""> Note:</label>
            <div>
              <textarea
                class="input-teal h-64"
                name="content"
                formControlName="note"
              ></textarea>
            </div>
          </div>
          <div class="">
            <label for=""> Status:</label>
            <div class="mt-1">
              <select
                class="input-teal w-full"
                name="status"
                id="status"
                formControlName="status"
              >
                <option class="bg-teal-600 text-white" value="active">
                  Active
                </option>
                <option class="bg-teal-600 text-white" value="inactive">
                  Inactive
                </option>
              </select>
            </div>
          </div>

          <div class="flex justify-center">
            <input
              class="btn-teal text-3xl mt-5 py-2 px-3"
              type="submit"
              name="submit"
              value="submit"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
