<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 2xl:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        View Policy Claim Detail
      </div>

      <div class="flex justify-center font-semibold text-lg">
        <form class="w-full text-teal-900" action="">
          <div class="flex justify-between items-center">
            <div class="flex">
              <span> Show</span>
              <select
                class="input-teal h-10 mx-2"
                name="document"
                id="document"
              >
                <option class="bg-teal-600 text-white" value="1">1</option>
                <option class="bg-teal-600 text-white" value="2">2</option>
                <option class="bg-teal-600 text-white" value="3">3</option>
                <option class="bg-teal-600 text-white" value="4">4</option>
                <option class="bg-teal-600 text-white" value="5">5</option>
                <option class="bg-teal-600 text-white" value="6">6</option>
                <option class="bg-teal-600 text-white" value="7">7</option>
                <option class="bg-teal-600 text-white" value="8">8</option>
                <option class="bg-teal-600 text-white" value="9">9</option>
                <option class="bg-teal-600 text-white" value="10">10</option>
              </select>
              <span> Entries</span>
            </div>
            <div class="">
              <label for=""> Search</label>
              <input
                class="input-teal"
                placeholder="Enter Customer Name"
                type="text"
                name="accountNumber"
              />
            </div>
          </div>
        </form>
      </div>
    </div>

    <table class="table-teal mt-3">
      <thead class="thead-teal">
        <tr>
          <th class="th-teal">Customer</th>
          <th class="th-teal">Insurance Account Number</th>
          <th class="th-teal">Withdrawal Date</th>
          <th class="th-teal">Bank Details</th>
          <th class="th-teal">Withdrawal Amount</th>
          <th class="th-teal">Withdrawal Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr-teal">
          <td class="td-teal">krishna</td>
          <td class="td-teal">1</td>
          <td class="td-teal">15-10-2022</td>
          <td class="td-teal">No Data Available</td>
          <!-- <td class="td-teal">NA</td>
            <td class="td-teal">12-10-2032</td>
            <td class="td-teal">1 year</td>
            <td class="td-teal">Rs. 1,00,000</td>
            <td class="td-teal">5.00 %</td>
            <td class="td-teal">Rs. 1,20,000</td>
            <td class="td-teal">
              <a href="customerInsuranceAccount.html">
                <input class="btn-teal text-xl mt-1 py-2 px-3" type="submit" name="submit" value="View More" />
              </a>
            </td> -->
        </tr>
      </tbody>
    </table>
    <label for=""> Showing 1 to 1 of 1 entries</label>
    <div class="flex justify-center">
      <input
        class="btn-teal mt-5 py-2 px-3"
        type="submit"
        name="submit"
        value="previous"
      />
      <input
        class="btn-teal mt-5 py-2 px-3"
        type="submit"
        name="submit"
        value="1"
      />
      <input
        class="btn-teal mt-5 py-2 px-3"
        type="submit"
        name="submit"
        value="next"
      />
    </div>
    <div class="flex justify-center">
      <input
        class="btn-teal mt-5 py-1 px-3"
        type="submit"
        name="submit"
        value="Print"
      />
    </div>
  </div>
</div>
