<div class="py-2 flex justify-around">
  <div class="bg-teal-200 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500">
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        View Employee Records
      </div>

      <div class="flex justify-center font-semibold text-lg">
        <form class="w-full text-teal-900" action=""></form>
      </div>
    </div>
    <br /><br />
    <div class="flex justify-center">
      <div>
        <table class="table-teal">
          <thead class="thead-teal">
            <tr>
              <th class="th-teal">Emp Type</th>
              <th class="th-teal">Emp Name</th>
              <th class="th-teal">Login ID</th>
              <th class="th-teal">Status</th>

              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tr-teal" *ngFor="let employee of employees">
              <td class="td-teal">{{ employee.role }}</td>
              <td class="td-teal">{{ employee.empoyeeName }}</td>
              <td class="td-teal">{{ employee.emailId }}</td>
              <td class="td-teal">{{ employee.status }}</td>
              <!-- <td class="td-teal">
                <input
                  class="btn-teal mt-1 py-2 px-3"
                  type="submit"
                  name="submit"
                  value="edit"
                />
              </td> -->
              <td class="td-teal">
                <input class="btn-red mt-1 py-2 px-3" type="submit" name="submit" value="delete"
                  (click)="deleteEmployee(employee.employeeId)" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>