<div class="py-2 flex justify-around">
  <div class="bg-teal-200 w-4/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500">
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        View Insurance Types
      </div>


    </div>
    <br /><br />
    <table class="table-teal w-full">
      <thead class="thead-teal">
        <tr>
          <th class="th-teal">Insurance Type</th>
          <th class="th-teal">Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr-teal" *ngFor="let insuranceType of insuranceTypes">
          <td class="td-teal">{{ insuranceType.insuranceType }}</td>
          <td class="td-teal">{{ insuranceType.status }}</td>
          <td class="td-teal">
            <input class="btn-teal mt-1 py-2 px-3" type="submit" name="submit" value="update"
              (click)="open(updateStatus, insuranceType)" />
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<ng-template #updateStatus let-modal>
  <div class="bg-teal-200 rounded-lg text-teal-900">
    <div class="modal-header">
      <span class="modal-title text-xl">Update Insurance Type Status</span>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true" class="text-lg btn-red uppercase">X</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="flex justify-center w-full">
        <div class="w-full">
          <form class="text-teal-900 w-full" (ngSubmit)="updateCityStatus(status.value)">
            <label for="state">Insurance Type:</label>
            <input class="input-teal" type="text" id="state" value="{{ insuranceType.insuranceType }}" readonly />
            <div class="">
              <label for="">Status</label>
              <div class="mt-1">
                <select #status class="input-teal w-full" name="status" id="status" [value]="insuranceType.status">
                  <option class="bg-teal-600 text-white" value="active">
                    Active
                  </option>
                  <option class="bg-teal-600 text-white" value="inactive">
                    Inactive
                  </option>
                </select>
              </div>
            </div>
            <div class="flex justify-center">
              <input (click)="modal.close('Save click')" class="btn-teal mt-5" type="submit" name="submit"
                value="submit" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>