<div class="py-2 flex justify-around">
  <div class="bg-teal-200 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500">
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-1">
        Add Employee Record
      </div>
      <span class="text-lg pb-5 flex justify-center">Kindly enter the credentials</span>

      <div class="flex justify-center font-semibold text-lg">
        <!-- <form
          class="w-full text-teal-900"
          [formGroup]="addEmployeeForm"
          (ngSubmit)="addEmployee(cpassword.value)"
        >
          <div class="">
            <label for="">Employee Type</label>
            <div class="mt-1">
              <select class="input-teal w-full" formControlName="role">
                <option class="bg-teal-600 text-white" value="ROLE_Employee">
                  Employee
                </option>
                <option class="bg-teal-600 text-white" value="ROLE_Admin">
                  Admin
                </option>
              </select>
            </div>
          </div>
          <div class="">
            <label for=""> Employee name</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Enter your name"
                type="text"
                name="username"
                formControlName="empoyeeName"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Email Id</label>
            <div class="mt-1">
              <input
                class="input-teal"
                type="email"
                placeholder="Enter Agent Email"
                name="email"
                formControlName="emailId"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Password</label>
            <div class="mt-1">
              <input
                class="input-teal"
                type="password"
                placeholder="Enter Agent Password"
                name="password"
                formControlName="password"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Confirm Password</label>
            <div class="mt-1">
              <input
                #cpassword
                class="input-teal"
                type="password"
                placeholder="Enter Password again"
                name="cPassword"
              />
            </div>
          </div>
          <div class="">
            <label for="">Status</label>
            <div class="mt-1">
              <select
                class="input-teal w-full"
                name="status"
                id="status"
                formControlName="status"
              >
                <option class="bg-teal-600 text-white" value="active">
                  Active
                </option>
                <option class="bg-teal-600 text-white" value="inactive">
                  Inactive
                </option>
              </select>
            </div>
          </div>
          <div class="flex justify-center">
            <input
              class="btn-teal text-3xl mt-5 py-2 px-3"
              type="submit"
              name="submit"
              value="submit"
            />
          </div>
        </form> -->

        <form class="w-full text-teal-900" [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee(cpassword.value)">
          <div class="">
            <label for="">Employee Type</label>
            <div class="mt-1">
              <select class="input-teal w-full" formControlName="role">
                <option class="bg-teal-600 text-white" value="ROLE_Admin">
                  Employee
                </option>
                <option class="bg-teal-600 text-white" value="ROLE_Admin">
                  Admin
                </option>
              </select>
            </div>
          </div>
          <div class="">
            <label for=""> Employee name</label>
            <div class="mt-1">
              <input class="input-teal" placeholder="Enter your name" type="text" name="username"
                formControlName="empoyeeName" />
            </div>
          </div>
          <div class="text-red-500">
            <small *ngIf="
                  addEmployeeForm.get('empoyeeName')?.hasError('required') &&
                  addEmployeeForm.get('empoyeeName')?.touched
                  ">Employee Name is Required</small>
          </div>
          <div class="text-red-500">
            <small *ngIf="
                  addEmployeeForm.get('empoyeeName')?.hasError('maxlength') &&
                  addEmployeeForm.get('empoyeeName')?.touched
                  ">Employee Name's Maximum length should be 50</small>
          </div>
          <div class="text-red-500">
            <small *ngIf="
                  addEmployeeForm.get('empoyeeName')?.hasError('pattern') &&
                  addEmployeeForm.get('empoyeeName')?.touched
                  ">Empoyee Name should contain only characters.</small>
          </div>

          <div class="">
            <label for=""> Email Id</label>
            <div class="mt-1">
              <input class="input-teal" type="email" placeholder="Enter Agent Email" name="email"
                formControlName="emailId" />
            </div>
          </div>
          <div class="text-red-500">
            <small *ngIf="
                  addEmployeeForm.get('emailId')?.hasError('required') &&
                  addEmployeeForm.get('emailId')?.touched
                  ">Email ID is Required</small>
          </div>
          <div class="text-red-500">
            <small *ngIf="
                  addEmployeeForm.get('emailId')?.hasError('email') &&
                  addEmployeeForm.get('emailId')?.touched
                  ">Email should be in Valid Format</small>
          </div>

          <div class="">
            <label for=""> Password</label>
            <div class="mt-1">
              <input class="input-teal" type="password" placeholder="Enter Agent Password" name="password"
                formControlName="password" />
            </div>
          </div>
          <div class="text-red-500">
            <small *ngIf="
                  addEmployeeForm.get('password')?.hasError('required') &&
                  addEmployeeForm.get('password')?.touched
                  ">Password is Required</small>
          </div>
          <div class="text-red-500">
            <small *ngIf="
                  addEmployeeForm.get('password')?.hasError('minlength') &&
                  addEmployeeForm.get('password')?.touched
                  ">Password is of Minimum 8 characters</small>
          </div>

          <div class="">
            <label for=""> Confirm Password</label>
            <div class="mt-1">
              <input #cpassword class="input-teal" type="password" placeholder="Enter Password again"
                name="cPassword" />
            </div>
          </div>
          <div class="">
            <label for="">Status</label>
            <div class="mt-1">
              <select class="input-teal w-full" name="status" id="status" formControlName="status">
                <option class="bg-teal-600 text-white" value="active">
                  Active
                </option>
                <option class="bg-teal-600 text-white" value="inactive">
                  Inactive
                </option>
              </select>
            </div>
          </div>
          <div class="flex justify-center">
            <input class="btn-teal text-3xl mt-5 py-2 px-3" type="submit" name="submit" value="submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>