<div class="flex justify-center pt-5 font-bold text-4xl text-teal-800 underline">
  <div>Welcome</div>
</div>
<div class="flex justify-center pt-1 font-bold text-2xl text-teal-800">
  {{ user }}
</div>

<div class="p-5 px-20 grid justify-center gap-10 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
  <div class="col-span-1 rounded overflow-hidden">
    <a routerLink="profile">
      <div
        class="flex w-4/5 h-40 items-center overflow-hidden bg-teal-300 m-5 rounded-lg shadow-md shadow-teal-500 hover:shadow-lg hover:shadow-teal-600 transform hover:scale-105 transision ease-out duration-200">
        <div class="w-2/3 shadow-md shadow-teal-500">
          <img class="h-40 w-100" src="assets/img/8.jpg" alt="Profile" />
        </div>
        <div class="flex justify-center w-1/2">
          <span
            class="px-5 text-blue-900 font-bold font-serif text-lg lg:text-2xl hover:text-green-900 hover:underline">
            Profile Update</span>
        </div>
      </div>
    </a>
  </div>

  <div class="col-span-1 rounded overflow-hidden">
    <a routerLink="changePassword">
      <div
        class="flex w-4/5 h-40 items-center overflow-hidden bg-teal-300 m-5 rounded-lg shadow-md shadow-teal-500 hover:shadow-lg hover:shadow-teal-600 transform hover:scale-105 transision ease-out duration-200">
        <div class="w-2/3 shadow-md shadow-teal-500">
          <img class="h-40 w-100" src="assets/img/2.jpg" alt="Profile" />
        </div>
        <div class="flex justify-center w-1/2">
          <span
            class="px-5 text-blue-900 font-bold font-serif text-xl lg:text-2xl hover:text-green-900 hover:underline">
            change Password</span>
        </div>
      </div>
    </a>
  </div>

  <div class="col-span-1 rounded overflow-hidden">
    <a routerLink="viewAccount">
      <div
        class="flex w-4/5 h-40 items-center overflow-hidden bg-teal-300 m-5 rounded-lg shadow-md shadow-teal-500 hover:shadow-lg hover:shadow-teal-600 transform hover:scale-105 transision ease-out duration-200">
        <div class="w-2/3 shadow-md shadow-teal-500">
          <img class="h-40 w-100" src="assets/img/9.jpg" alt="Profile" />
        </div>
        <div class="flex justify-center w-1/2">
          <span
            class="px-5 text-blue-900 font-bold font-serif text-lg lg:text-2xl hover:text-green-900 hover:underline">
            Insurance Account</span>
        </div>
      </div>
    </a>
  </div>


</div>