<div class="py-2 flex justify-around">
  <div class="bg-teal-200 w-4/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500">
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        View Insurance Schemes
      </div>


    </div>
    <br /><br />
    <div class="flex justify-center">
      <div>
        <table class="table-teal">
          <thead class="thead-teal">
            <tr>
              <th class="th-teal">Insurance Plan</th>
              <th class="th-teal">Agent commission</th>
              <th class="th-teal">Insurance Scheme and Note</th>
              <th class="">Status</th>

            </tr>
          </thead>
          <tbody>
            <tr class="tr-teal" *ngFor="let scheme of insuranceSchemes">
              <td class="td-teal p-2">
                {{ scheme.insuranceType.insuranceType }}
              </td>
              <td class="td-teal p-2">
                Commission for New Registration
                {{ scheme.commissionForNewRegistration }}%
                <br />
                Commission for Installment Payment
                {{ scheme.commissionForInstallmentPayment }}%
              </td>
              <td class="td-teal">
                <b class="pb-6 underline"> {{ scheme.insuranceScheme }} </b><br />
                {{ scheme.note }}
              </td>
              <td class="td-teal">{{ scheme.status }}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>