<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 2xl:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        View Policy Payment Detail
      </div>
      <div class="flex justify-center font-semibold text-lg">
        <div>
          <label for=""> From Date</label>
          <div class="">
            <input
              class="input-teal"
              type="date"
              placeholder=""
              name="fromDate"
            />
          </div>
        </div>
        <div class="ml-5">
          <label for=""> To Date</label>
          <div class="">
            <input
              class="input-teal"
              type="date"
              placeholder=""
              name="toDate"
            />
          </div>
        </div>
        <div class="flex items-end">
          <input
            class="btn-teal mt-0 ml-3 h-1/2 py-1 px-3"
            type="submit"
            name="submit"
            value="search"
          />
        </div>
      </div>
      <div class="flex mt-2 justify-center font-semibold text-lg">
        <form class="w-full text-teal-900" action="">
          <div class="flex justify-between items-center">
            <div class="flex">
              <span> Show</span>
              <select
                class="input-teal h-10 mx-2"
                name="document"
                id="document"
              >
                <option class="bg-teal-600 text-white" value="1">1</option>
                <option class="bg-teal-600 text-white" value="2">2</option>
                <option class="bg-teal-600 text-white" value="3">3</option>
                <option class="bg-teal-600 text-white" value="4">4</option>
                <option class="bg-teal-600 text-white" value="5">5</option>
                <option class="bg-teal-600 text-white" value="6">6</option>
                <option class="bg-teal-600 text-white" value="7">7</option>
                <option class="bg-teal-600 text-white" value="8">8</option>
                <option class="bg-teal-600 text-white" value="9">9</option>
                <option class="bg-teal-600 text-white" value="10">10</option>
              </select>
              <span> Entries</span>
            </div>
            <div class="">
              <label for=""> Search</label>
              <input
                class="input-teal"
                placeholder="Enter Customer Name"
                type="text"
                name="accountNumber"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <br /><br />
    <table class="table-teal">
      <thead class="thead-teal">
        <tr>
          <th class="th-teal">Customer</th>
          <th class="th-teal">Insurance Account Number</th>
          <th class="th-teal">Paid Amount</th>
          <th class="th-teal">Tax Amount</th>
          <th class="th-teal">Total Amount</th>
          <th class="th-teal">Paid Date</th>
          <th class="th-teal">Transaction Type</th>
          <th class="th-teal">Particulars</th>
          <th class="th-teal">Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr-teal">
          <td class="td-teal">krishna</td>
          <td class="td-teal">1</td>
          <td class="td-teal">Rs.1000</td>
          <td class="td-teal">Rs. 120</td>
          <td class="td-teal">Rs. 1120</td>
          <td class="td-teal">12-10-2022</td>
          <td class="td-teal">Debit Card</td>
          <td class="td-teal">Rs. 1,00,000</td>
          <td class="td-teal">Active</td>
          <td class="td-teal">
            <a href="customerPaymentReceipt.html">
              <input
                class="btn-teal text-xl mt-1 py-2 px-3"
                type="submit"
                name="submit"
                value="Download"
              />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <label for=""> Showing 1 to 1 of 1 entries</label>
    <div class="flex justify-center">
      <input
        class="btn-teal mt-5 py-2 px-3"
        type="submit"
        name="submit"
        value="previous"
      />
      <input
        class="btn-teal mt-5 py-2 px-3"
        type="submit"
        name="submit"
        value="1"
      />
      <input
        class="btn-teal mt-5 py-2 px-3"
        type="submit"
        name="submit"
        value="next"
      />
    </div>
    <div class="flex justify-center">
      <input
        class="btn-teal mt-5 py-1 px-3"
        type="submit"
        name="submit"
        value="Print"
      />
    </div>
  </div>
</div>
