<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 2xl:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        Insurance Account Detail
      </div>
      <div class="text-teal-900">
        <div class="flex justify-start font-semibold text-lg mt-3">
          <label for="">Customer Detail</label>
        </div>
        <div>
          <table class="table-teal w-100">
            <thead class="thead-teal">
              <tr class="tr-teal">
                <th class="th-teal">Customer Name</th>
                <th class="th-teal">Customer Address</th>
                <th class="th-teal">Email ID</th>
                <th class="th-teal">Customer Mobile No.</th>
                <th>Login ID</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr-teal">
                <td class="td-teal">krishna</td>
                <td class="td-teal">rajahmundry</td>
                <td class="td-teal">krish@gmail.com</td>
                <td class="td-teal">9191919191</td>
                <td class="td-teal">krish007</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="flex justify-start font-semibold text-lg mt-3">
          <!-- <div class=""> -->
          <label for="">Account Detail</label>
        </div>
        <div>
          <table class="table-teal w-100">
            <thead class="thead-teal">
              <tr class="tr-teal">
                <th class="th-teal">Account Number</th>
                <th class="th-teal">Insurance Type</th>
                <th class="th-teal">Insurance Scheme</th>
                <th class="th-teal">Date Create</th>
                <th class="th-teal">Maturity Date</th>
                <th>Premium Type</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr-teal">
                <td class="td-teal">1</td>
                <td class="td-teal">Protection Plan</td>
                <td class="td-teal">Cancer Protection Plan</td>
                <td class="td-teal">14-10-2022</td>
                <td class="td-teal">13-10-2042</td>
                <td class="td-teal">1 Year</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="flex justify-start font-semibold text-lg mt-3">
          <!-- <div class=""> -->
          <label for="">Premium Detail</label>
        </div>
        <div>
          <table class="table-teal w-100">
            <thead class="thead-teal">
              <tr class="tr-teal">
                <th class="th-teal">Total Premium Amount</th>
                <th class="th-teal">Profit Ratio</th>
                <th>Sum Assured.</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr-teal">
                <td class="td-teal">Rs. 1,00,000.00</td>
                <td class="td-teal">6.00%</td>
                <td class="td-teal">Rs. 1,06,000.00</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="flex justify-start font-semibold text-lg mt-3">
          <!-- <div class=""> -->
          <label for="">Payment Detail</label>
        </div>
        <div>
          <table class="table-teal w-100">
            <thead class="thead-teal">
              <tr class="tr-teal">
                <th class="th-teal">Installment No.</th>
                <th class="th-teal">Installment Date</th>
                <th class="th-teal">Installment Amount</th>
                <th class="th-teal">Paid date</th>
                <th class="th-teal">Payment Status</th>
                <th>Receipt</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr-teal">
                <td class="td-teal">1</td>
                <td class="td-teal">14-10-2022</td>
                <td class="td-teal">Rs. 5,000</td>
                <td class="td-teal">14-10-2022</td>
                <td class="td-teal">paid</td>
                <td class="td-teal">
                  <a href="customerPaymentReceipt.html">
                    <input
                      class="btn-teal mt-1 py-2 px-3"
                      type="submit"
                      name="submit"
                      value="Download"
                    />
                  </a>
                </td>
              </tr>
              <tr class="tr-teal">
                <td class="td-teal">2</td>
                <td class="td-teal">14-10-2023</td>
                <td class="td-teal">Rs. 5,000</td>
                <td class="td-teal">
                  <a href="customerPolicyPayment.html">
                    <input
                      class="btn-teal mt-1 py-2 px-3"
                      type="submit"
                      name="submit"
                      value="Make Payment"
                    />
                  </a>
                </td>
                <td class="td-teal">pending</td>
                <td class="td-teal"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="flex justify-center">
          <input
            class="btn-teal text-3xl mt-5 py-2 px-3"
            type="submit"
            name="submit"
            value="Cancel Policy"
          />
        </div>
      </div>
    </div>
  </div>
</div>
