<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 2xl:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        View Feedback
      </div>

      <div class="flex justify-center font-semibold text-lg"></div>
    </div>
    <br /><br />
    <table class="w-full table-teal">
      <thead class="thead-teal">
        <tr class="tr-teal">
          <th class="th-teal">Customer</th>
          <th class="th-teal">Title</th>
          <th class="th-teal">Message</th>
          <th class="th-teal">Contact Date</th>
          <th>Reply</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr-teal">
          <td class="td-teal">Krishna</td>
          <td class="td-teal">Query</td>
          <td class="td-teal">About Insurance</td>
          <td class="td-teal">14-10-2022</td>
          <td class="td-teal">Sample Reply</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
