<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-1">
        Add Insurance Type
      </div>

      <div class="flex justify-center font-semibold text-lg">
        <form
          class="w-full text-teal-900"
          [formGroup]="addInsuranceType"
          (ngSubmit)="createInsuranceType()"
        >
          <div class="">
            <label for=""> Insurance Type:</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder=""
                type="text"
                name="username"
                formControlName="insuranceType"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Image:</label>
            <div class="mt-1">
              <!-- <div class="flex justify-center"> -->
              <input
                class="border-2 border-teal-700 w-full rounded text-gray-100 py-2 px-3 bg-teal-700"
                type="file"
                id="document"
                name="choose"
                value="Choose File"
                (change)="this.onFilechange($event)"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Status:</label>
            <div class="mt-1">
              <select
                class="input-teal w-full"
                name="status"
                id="status"
                formControlName="status"
              >
                <option class="bg-teal-600 text-white" value="active">
                  Active
                </option>
                <option class="bg-teal-600 text-white" value="inactive">
                  Inactive
                </option>
              </select>
            </div>
          </div>

          <div class="flex justify-center">
            <input
              class="btn-teal text-3xl mt-5 py-2 px-3"
              type="submit"
              name="submit"
              value="submit"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
