<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 2xl:w-5/6 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        View Policy Payment Detail
      </div>
    </div>
    <br /><br />
    <table class="table-teal">
      <thead class="thead-teal">
        <tr>
          <th class="th-teal">Customer</th>
          <th class="th-teal">Insurance Account Number</th>
          <th class="th-teal">Paid Amount</th>
          <th class="th-teal">Tax Amount</th>
          <th class="th-teal">Total Amount</th>
          <th class="th-teal">Paid Date</th>
          <th class="th-teal">Transaction Type</th>
          <th class="th-teal">Particulars</th>
          <th class="th-teal">Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tr-teal">
          <td class="td-teal">krishna</td>
          <td class="td-teal">1</td>
          <td class="td-teal">Rs.1000</td>
          <td class="td-teal">Rs. 120</td>
          <td class="td-teal">Rs. 1120</td>
          <td class="td-teal">12-10-2022</td>
          <td class="td-teal">Debit Card</td>
          <td class="td-teal">Rs. 1,00,000</td>
          <td class="td-teal">Active</td>
          <td class="td-teal">
            <a href="customerPaymentReceipt.html">
              <input
                class="btn-teal text-xl mt-1 py-2 px-3"
                type="submit"
                name="submit"
                value="Download"
              />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <label for=""> Showing 1 to 1 of 1 entries</label>
    <div class="flex justify-center">
      <input
        class="btn-teal mt-5 py-2 px-3"
        type="submit"
        name="submit"
        value="previous"
      />
      <input
        class="btn-teal mt-5 py-2 px-3"
        type="submit"
        name="submit"
        value="1"
      />
      <input
        class="btn-teal mt-5 py-2 px-3"
        type="submit"
        name="submit"
        value="next"
      />
    </div>
    <div class="flex justify-center">
      <input
        class="btn-teal mt-5 py-1 px-3"
        type="submit"
        name="submit"
        value="Print"
      />
    </div>
  </div>
</div>
