<div class="py-2 flex justify-around">
  <div class="bg-teal-200 md:w-1/2 xl:w-1/4 p-5 my-5 shadow-md shadow-teal-500">
    <div class="text-4xl text-teal-900 underline flex justify-center pb-2">
      Change Password
    </div>
    <div class="flex justify-center text-teal-900 font-semibold text-lg pb-5">
      <h2>Kindly enter the credentials</h2>
    </div>

    <div class="flex justify-center">
      <div class="">
        <!-- <form class="text-teal-900" action="">
          <label for="username">Old Password:</label>
          <input class="input-teal" type="text" id="username" name="username" />
          <label for="password">New Password:</label>
          <input class="input-teal" type="password" id="password" name="password" />
          <label for="password">Confirm Password:</label>
          <input class="input-teal" type="password" id="cpassword" name="cpassword" />

          <div class="flex justify-center">
            <input class="btn-teal mt-5" type="submit" name="submit" value="Change Password" />
          </div>
        </form> -->

        <form class="text-teal-900" [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
          <label for="username">Old Password:</label>
          <input class="input-teal" type="text" id="username" name="username" formControlName="oldPassword" />
          <div class="text-red-500">
            <small *ngIf=" 
              updatePasswordForm.get('oldPassword')?.hasError('required') && 
              updatePasswordForm.get('oldPassword')?.touched 
              ">Old Password is Required</small>
          </div>

          <label for="password">New Password:</label>
          <input class="input-teal" type="password" id="password" name="password" formControlName="newPassword" />
          <div class="text-red-500">
            <small *ngIf=" 
              updatePasswordForm.get('newPassword')?.hasError('required') && 
              updatePasswordForm.get('newPassword')?.touched 
              ">New Password is Required</small>
          </div>

          <label for="password">Confirm Password:</label>
          <input class="input-teal" type="password" id="cpassword" name="cpassword" formControlName="confirmPassword" />
          <div class="text-red-500">
            <small *ngIf=" 
              updatePasswordForm.get('confirmPassword')?.hasError('required') && 
              updatePasswordForm.get('confirmPassword')?.touched 
              ">Confirm Password is Required</small>
          </div>

          <div class="flex justify-center">
            <input class="btn-teal mt-5" type="submit" name="submit" value="Change Password" />
          </div>
        </form>

      </div>
    </div>
  </div>
</div>