<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        {{ plan.insuranceScheme.insuranceScheme }}
      </div>

      <div class="text-xl text-teal-900 underline flex justify-center pb-5">
        {{ plan.insurancePlan }}
      </div>
      <div class="flex justify-center">
        <img
          src="http://localhost:8080/customers/getImage/{{
            plan.insuranceScheme.insuranceType.imageSrc
          }}"
          class="w-50 d-block"
          alt="First slide"
        />
      </div>
      <div class="pt-2">
        <b>{{ plan.insuranceScheme.note }}</b>
      </div>

      <div class="text-xl text-teal-900 underline flex justify-center pb-5">
        Plan Details
      </div>

      <div class="flex justify-center font-semibold text-lg">
        <div class="w-full text-teal-900">
          <div class="">
            <label for=""> Policy Term Minimum: </label>
            {{ plan.minumumPolicyTerm }} years
          </div>
          <div class="">
            <label for=""> Policy Term Maximum: </label>
            {{ plan.maximumPolicyTerm }} years
          </div>

          <div class="">
            <label for=""> Minimum Age:</label>
            {{ plan.minimumAge }}
          </div>

          <div class="">
            <label for=""> Maximum Age:</label>
            {{ plan.maximumAge }}
          </div>
          <div class="">
            <label for="">Minimum Investment Amount:</label>
            {{ plan.minimumInvestmentAmount | currency: "INR" }}
          </div>
          <div class="">
            <label for=""> Maximum Investment Amount:</label>
            {{ plan.maximumInvestmentAmount | currency: "INR" }}
          </div>
          <div class="">
            <label for="">Profit Ratio:</label>
            {{ plan.profitRatio }}%
          </div>

          <div class="text-xl text-teal-900 underline flex justify-center pb-5">
            Interest Calculator
          </div>
          <form ngNativeValidate>
            <div class="">
              <label for=""> No. of Years:</label>
              <div class="mt-1">
                <input
                  class="input-teal"
                  placeholder="Enter number of years"
                  type="number"
                  name="months"
                  [(ngModel)]="years"
                />
              </div>
            </div>
            <div class="">
              <label for=""> Total Investment Amount:</label>
              <div class="mt-1">
                <input
                  class="input-teal"
                  placeholder="Enter investment amount"
                  type="number"
                  name="amount"
                  [(ngModel)]="totalInvestmentAmount"
                />
              </div>
            </div>

            <div>
              <label for=""> Months:</label>
              <div class="mt-1">
                <select
                  class="input-teal w-2/3"
                  name="mounths"
                  [(ngModel)]="months"
                >
                  <option class="bg-teal-600 text-white" value="1">
                    1 month
                  </option>
                  <option class="bg-teal-600 text-white" value="3">
                    3 months
                  </option>
                  <option class="bg-teal-600 text-white" value="6">
                    6 months
                  </option>
                </select>
              </div>
            </div>
          </form>
          <div class="flex justify-center">
            <button
              class="btn-teal text-xl mt-5 py-2 px-3"
              type="submit"
              name="submit"
              (click)="calculate()"
            >
              Calculate
            </button>
          </div>
          <div class="">
            <label for="">
              Installment Amount:{{ installmentAmount | number: ".2-2" }}</label
            >
          </div>
          <div class="">
            <label for="">Interest Amount:{{ interestAmount }}</label>
          </div>
          <div class="">
            <label for=""> Total Amount:{{ totalAmount }}</label>
          </div>

          <div class="flex justify-center">
            <input
              class="btn-teal text-xl mt-5 py-2 px-3"
              type="submit"
              name="submit"
              value="submit"
              (click)="open(insuranceAccount)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #insuranceAccount let-modal>
  <div class="bg-teal-200 rounded-lg text-teal-900">
    <div class="modal-header">
      <span class="modal-title text-xl">Insurance Account Details</span>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true" class="text-lg btn-red uppercase">X</span>
      </button>
    </div>
    <div class="modal-body w-full">
      <div class="flex justify-center w-full">
        <div class="w-full">
          <div class="text-teal-900 w-full">
            <div class="flex my-1">
              <label class="text-xs">Insurance Type:</label>
              <input
                class="input-teal ml-10 px-2 h-50"
                type="text"
                value="{{ plan.insuranceScheme.insuranceType.insuranceType }}"
                readonly
              />
            </div>
            <div class="flex my-1">
              <label class="text-xs">Insurance Scheme:</label>
              <input
                class="input-teal ml-7 px-2 h-50"
                type="text"
                value="{{ plan.insuranceScheme.insuranceScheme }}"
                readonly
              />
            </div>
            <div class="flex my-1">
              <label class="text-xs">No. of Years:</label>
              <input
                class="input-teal ml-14 px-2 h-50"
                type="text"
                value="{{ years }}"
                readonly
              />
            </div>
            <div class="flex my-1">
              <label class="text-xs">Profit ratio:</label>
              <input
                class="input-teal ml-16 px-2 h-50"
                type="text"
                value="{{ plan.profitRatio }}"
                readonly
              />
            </div>
            <div class="flex my-1">
              <label class="text-xs">Total Investment Amount:</label>
              <input
                class="input-teal ml-2 px-2 h-50"
                type="text"
                value="{{ totalInvestmentAmount }}"
                readonly
              />
            </div>
            <div class="flex my-1">
              <label class="text-xs">Primium Type(in month):</label>
              <input
                class="input-teal ml-3 px-2 h-50"
                type="text"
                value="{{ months }}"
                readonly
              />
            </div>
            <div class="flex my-1">
              <label class="text-xs">installment Amount:</label>
              <input
                class="input-teal ml-5 px-2 h-50"
                type="text"
                value="{{ installmentAmount }}"
                readonly
              />
            </div>
            <div class="flex my-1">
              <label class="text-xs">interestAmount:</label>
              <input
                class="input-teal ml-5 px-2 h-50"
                type="text"
                value="{{ interestAmount }}"
                appTwoDigitDecimaNumber
                readonly
              />
            </div>
            <div class="flex my-1">
              <label class="text-xs">Total Ammount:</label>
              <input
                class="input-teal ml-10 px-2 h-50"
                type="text"
                value="{{ totalAmount }}"
                readonly
              />
            </div>
            <div class="flex my-1">
              <label class="text-xs">Agent Code:</label>
              <input
                class="input-teal ml-10 px-2 h-50"
                type="text"
                [(ngModel)]="agentCode"
              />
            </div>
            <div class="flex my-1">
              <label class="text-xs">Date Created:</label>
              <!-- <input
                class="input-teal ml-2 px-2 h-50"
                type="date"
                value=" {{ datecreated }}"
                readonly
              /> -->
              <div class="pl-5 text-sm">
                {{ datecreated | date: "shortDate" }}
              </div>
            </div>
            <div class="flex my-1">
              <label class="text-xs">Maturity Date:</label>
              <div class="pl-5 text-sm">
                {{ maturityDate | date: "shortDate" }}
              </div>
            </div>

            <div class="flex justify-center">
              <input
                (click)="purchace()"
                class="btn-teal mt-5"
                type="submit"
                name="submit"
                value="Buy policy"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
