<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-1">
        Add Insurance Plan
      </div>
      <div class="">
        <label for=""> Insurance Type:</label>
        <div class="mt-1">
          <select
            #typeid
            class="input-teal w-full"
            name="status"
            id="status"
            [(ngModel)]="insuranceTypeId"
            (ngModelChange)="updateTypeId()"
          >
            <option
              class="bg-teal-600 text-white"
              value="active"
              *ngFor="let insuranceType of insuranceTypes"
              value="{{ insuranceType.insuranceTypeId }}"
            >
              {{ insuranceType.insuranceType }}
            </option>
          </select>
        </div>
      </div>
      <div class="flex justify-center font-semibold text-lg">
        <form
          class="w-full text-teal-900"
          [formGroup]="addInsurancePlanForm"
          (ngSubmit)="addInsurancePlan()"
        >
          <!-- <div class="">
            <label for=""> Insurance Type:</label>
            <div class="mt-1">
              <select
                #typeid
                class="input-teal w-full"
                name="status"
                id="status"
                [(ngModel)]="insuranceTypeId"
                (ngModelChange)="updateTypeId()"
                formControlName="id"
              >
                <option
                  class="bg-teal-600 text-white"
                  value="active"
                  *ngFor="let insuranceType of insuranceTypes"
                  value="{{ insuranceType.insuranceTypeId }}"
                >
                  {{ insuranceType.insuranceType }}
                </option>
              </select>
            </div>
          </div> -->

          <div class="">
            <label for=""> Insurance Scheme:</label>
            <div class="mt-1">
              <select
                class="input-teal w-full"
                name="status"
                id="status"
                formControlName="schemeid"
              >
                <option
                  class="bg-teal-600 text-white"
                  *ngFor="let insuranceScheme of insuranceSchemes"
                  value="{{ insuranceScheme.insuranceSchemeId }}"
                >
                  {{ insuranceScheme.insuranceScheme }}
                </option>
              </select>
            </div>
          </div>
          <div class="">
            <label for=""> Plan Name</label>
            <div class="mt-1">
              <input
                type="text"
                class="input-teal"
                formControlName="insurancePlan"
              />
            </div>
          </div>
          <div class="">
            <label for=""> Policy Term:</label>
          </div>

          <div class="">
            <label for=""> Minimum</label>
            <div class="mt-1">
              <input
                type="text"
                class="input-teal"
                formControlName="minumumPolicyTerm"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Maximum</label>
            <div class="mt-1">
              <input
                type="text"
                class="input-teal"
                formControlName="maximumPolicyTerm"
              />
            </div>
          </div>
          <div class="">
            <label for=""> Age:</label>
          </div>

          <div class="">
            <label for=""> Minimum</label>
            <div class="mt-1">
              <input
                type="text"
                class="input-teal"
                formControlName="minimumAge"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Maximum</label>
            <div class="mt-1">
              <input
                type="text"
                class="input-teal"
                formControlName="maximumAge"
              />
            </div>
          </div>
          <div class="">
            <label for=""> Total Investment Amount:</label>
          </div>

          <div class="">
            <label for=""> Minimum</label>
            <div class="mt-1">
              <input
                type="text"
                class="input-teal"
                formControlName="minimumInvestmentAmount"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Maximum</label>
            <div class="mt-1">
              <input
                type="text"
                class="input-teal"
                formControlName="maximumInvestmentAmount"
              />
            </div>
          </div>
          <div class="">
            <label for=""> Profit Ratio:</label>
            <div class="mt-1">
              <input
                type="text"
                class="input-teal"
                formControlName="profitRatio"
              />
            </div>
          </div>

          <div class="">
            <label for=""> Status:</label>
            <div class="mt-1">
              <select
                class="input-teal w-full"
                name="status"
                id="status"
                formControlName="status"
              >
                <option class="bg-teal-600 text-white" value="active">
                  Active
                </option>
                <option class="bg-teal-600 text-white" value="inactive">
                  Inactive
                </option>
              </select>
            </div>
          </div>

          <div class="flex justify-center">
            <input
              class="btn-teal text-3xl mt-5 py-2 px-3"
              type="submit"
              name="submit"
              value="submit"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
