<nav class="navbar navbar-expand-md bg-teal-400 font-serif font-semibold">
  <div class="container-fluid xl:w-2/3">
    <ul class="navbar-nav me-auto mt-2 mt-lg-0 justify-items-stretch flex">
      <li class="nav-item">
        <a class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded text-blue-900 px-2 mx-1"
          routerLink="">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded text-blue-900 px-2 mx-1"
          routerLink="/customerLogin">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded text-blue-900 px-2 mx-1"
          routerLink="/customerRegistration">REGISTER</a>
      </li>

      <li class="nav-item">
        <a class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded text-blue-900 px-2 mx-1"
          routerLink="/agentLogin">AGENT LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded text-blue-900 px-2 mx-1"
          href="#">CONTACT</a>
      </li>
    </ul>
  </div>
  <!-- </div> -->
</nav>