<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 2xl:w-5/6 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        View Customer Records
      </div>
    </div>
    <br /><br />
    <div class="flex justify-center">
      <table class="table-teal">
        <thead class="thead-teal">
          <tr>
            <th class="th-teal">Customer Name</th>
            <th class="th-teal">Customer DOB</th>
            <th class="th-teal">Email ID</th>
            <th class="th-teal">Address</th>
            <th class="th-teal">Mobile</th>
            <th class="th-teal">Nominee</th>
            <th class="th-teal">Nominee Relation</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr-teal" *ngFor="let customer of customers">
            <td class="td-teal">{{ customer.customerName }}</td>
            <td class="td-teal">
              {{ customer.dateOfBirth | date: "shortDate" }}
            </td>
            <td class="td-teal">{{ customer.emailId }}</td>
            <td class="td-teal">{{ customer.address }}</td>
            <td class="td-teal">{{ customer.contactNumber }}</td>
            <td class="td-teal">{{ customer.nomineeName }}</td>
            <td class="td-teal">{{ customer.nomineeRelation }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
