<div class="grid grid-cols-12 bg-teal-400 sm:px-5">
  <div class="col-span-11">
    <nav
      class="navbar navbar-expand-lg navbar-light font-serif font-semibold flex lg:justify-center"
    >
      <div class="container xl:w-2/3">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a
              class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded text-blue-900 pl-2"
              routerLink="/agent"
              >AGENT ACCOUNT
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded dropdown-toggle text-blue-900 pl-2"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >ACCOUNT</a
            >
            <div
              class="dropdown-menu bg-teal-900 xl:mx-3 bg-opacity-80"
              aria-labelledby="dropdownId"
            >
              <a
                class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                routerLink="agentUpdate"
                >PROFILE</a
              >
              <a
                class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                routerLink="changePassword"
                >CHANGE PASSWORD</a
              >
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded text-blue-900 pl-2"
              routerLink="marketing"
              >MARKETING
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded dropdown-toggle text-blue-900 pl-2"
              href="#"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >INSURANCE</a
            >
            <div
              class="dropdown-menu bg-teal-900 xl:mx-3 bg-opacity-80"
              aria-labelledby="dropdownId"
            >
              <a
                class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                routerLink="viewCustomer"
                >VIEW CUSTOMERS</a
              >
              <a
                class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                routerLink="InsuranceAccount"
                >INSURANCE ACCOUNT</a
              >
              <!-- <a
                class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                routerLink="viewPayment"
                >VIEW POLICY PAYMENT</a
              >
              <a
                class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                routerLink="viewPolicyClaim"
                >VIEW POLICY CLAIMS</a
              > -->
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link xl:mx-3 hover:bg-teal-800 hover:text-teal-100 rounded dropdown-toggle text-blue-900 pl-2"
              href="#"
              id="dropdownId"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >COMMISSION</a
            >
            <div
              class="dropdown-menu bg-teal-900 xl:mx-3 bg-opacity-80"
              aria-labelledby="dropdownId"
            >
              <a
                class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                routerLink="viewCommision"
                >VIEW COMMISSION</a
              >
              <a
                class="dropdown-item text-gray-50 hover:text-blue-900 hover:bg-teal-300"
                routerLink="viewCommissionWithdraw"
              >
                COMMISSION WITHDRAWAL</a
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-span-1 flex justify-end pt-1 h-12">
    <button class="btn-red" (click)="logout()">logout</button>
  </div>
</div>
