<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 2xl:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        View Policy Claim Detail
      </div>

      <table class="table-teal mt-3">
        <thead class="thead-teal">
          <tr>
            <th class="th-teal">Customer</th>
            <th class="th-teal">Insurance Account Number</th>
            <th class="th-teal">Withdrawal Date</th>
            <th class="th-teal">Bank Details</th>
            <th class="th-teal">Withdrawal Amount</th>
            <th class="th-teal">Withdrawal Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr-teal">
            <td class="td-teal">krishna</td>
            <td class="td-teal">1</td>
            <td class="td-teal">15-10-2022</td>
            <td class="td-teal">No Data Available</td>
          </tr>
        </tbody>
      </table>
      <label for=""> Showing 1 to 1 of 1 entries</label>
      <div class="flex justify-center">
        <input
          class="btn-teal mt-5 py-2 px-3"
          type="submit"
          name="submit"
          value="previous"
        />
        <input
          class="btn-teal mt-5 py-2 px-3"
          type="submit"
          name="submit"
          value="1"
        />
        <input
          class="btn-teal mt-5 py-2 px-3"
          type="submit"
          name="submit"
          value="next"
        />
      </div>
      <div class="flex justify-center">
        <input
          class="btn-teal mt-5 py-1 px-3"
          type="submit"
          name="submit"
          value="Print"
        />
      </div>
    </div>
  </div>
</div>
