<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-1">
        Commission Withdraw
      </div>
      <div class="flex justify-center font-semibold text-lg">
        <form class="w-full text-teal-900" action="">
          <label class="py-2" for="">Commission Accumulated: Rs. 2000</label>
          <div class="">
            <label for="">Withdrawing Amount :</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="Amount"
                type="text"
                name="amount"
              />
            </div>
          </div>
          <div class="">
            <label for=""> Bank Account Number</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="bank account"
                type="text"
                name="account"
              />
            </div>
          </div>
          <div class="">
            <label for=""> IFSC Number</label>
            <div class="mt-1">
              <input
                class="input-teal"
                placeholder="IFSC number"
                type="text"
                name="ifsc"
              />
            </div>
          </div>

          <div class="flex justify-center">
            <input
              class="btn-teal text-xl mt-5 py-2 px-3"
              type="submit"
              name="submit"
              value="Withdraw"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
