<div class="py-2 flex justify-around">
  <div class="bg-teal-200 md:w-1/2 xl:w-1/3 p-5 my-5 shadow-md shadow-teal-500">
    <div class="text-4xl text-teal-900 underline flex justify-center pb-2">
      CITY
    </div>

    <div class="flex justify-center w-full">
      <div class="w-full">
        <form
          class="text-teal-900 w-full"
          [formGroup]="addCityForm"
          (ngSubmit)="addCity()"
        >
          <div class="">
            <label for="">State</label>
            <div class="mt-1">
              <select
                class="input-teal w-full"
                name="status"
                id="status"
                formControlName="id"
              >
                <option
                  *ngFor="let state of activestates"
                  class="bg-teal-600 text-white"
                  value="{{ state.stateId }}"
                >
                  {{ state.state }}
                </option>
              </select>
            </div>
          </div>
          <label for="username">City</label>
          <input
            class="input-teal"
            type="text"
            id="username"
            name="username"
            formControlName="city"
          />
          <div class="">
            <label for="">Status</label>
            <div class="mt-1">
              <select
                class="input-teal w-full"
                name="status"
                id="status"
                formControlName="status"
              >
                <option class="bg-teal-600 text-white" value="active">
                  Active
                </option>
                <option class="bg-teal-600 text-white" value="inactive">
                  Inactive
                </option>
              </select>
            </div>
          </div>
          <div class="flex justify-center">
            <input
              class="btn-teal mt-5"
              type="submit"
              name="submit"
              value="submit"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
