<div class="footer bg-teal-300 grid grid-cols-3">
  <div class="col-span-2 py-3">
    <div class="divide-x divide-blue-900 text-blue-900">
      <span class="px-3 cursor-default">copyright © 2022 E-INSURANCE-LIFE</span>
      <span class="px-3"><a class="cursor-pointer hover:text-red-600" routerLink="/employeeLogin">Employee Login
          Pannel</a></span>
      <span class="px-3"><a class="cursor-pointer hover:text-red-600" routerLink="/adminLogin">Admin Login
          Pannel</a></span>
    </div>
    <div class="px-3 pt-3 text-gray-600">
      Designed by: Subhranil , Rama Krishna
    </div>
  </div>
  <div class="py-3 col-span-1 flex flex-row justify-end">
    <div class="pr-5">
      <a class="cursor-pointer hover:text-red-600" routerLink="">Home</a>
    </div>

  </div>
</div>