<div class="py-2 flex justify-around">
  <div class="bg-teal-200 w-4/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500">
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        View Insurance Plan Records
      </div>
    </div>
    <br /><br />
    <table class="table-teal">
      <thead class="thead-teal">
        <tr>
          <th class="th-teal">Insurance Type</th>
          <th class="th-teal">Insurance Scheme</th>
          <th class="th-teal">Policy Term Min</th>
          <th class="th-teal">Policy Term Max</th>
          <th class="th-teal">Min Age</th>
          <th class="th-teal">Max Age</th>
          <th class="th-teal">Sum Assured Min.</th>
          <th class="th-teal">Maximum Investment Amount</th>
          <th class="th-teal">Profit Ratio</th>
          <th class="th-teal">Status</th>

        </tr>
      </thead>
      <tbody>
        <tr class="tr-teal" *ngFor="let plan of insurancePlans">
          <td class="td-teal">
            {{ plan.insuranceScheme.insuranceType.insuranceType }}
          </td>
          <td class="td-teal">{{ plan.insuranceScheme.insuranceScheme }}</td>
          <td class="td-teal">{{ plan.maximumPolicyTerm }}</td>
          <td class="td-teal">{{ plan.minumumPolicyTerm }}</td>
          <td class="td-teal">{{ plan.minimumAge }}</td>
          <td class="td-teal">{{ plan.maximumAge }}</td>
          <td class="td-teal">Rs. {{ plan.minimumInvestmentAmount }}</td>
          <td class="td-teal">Rs. {{ plan.maximumInvestmentAmount }}</td>
          <td class="td-teal">{{ plan.profitRatio }} %</td>
          <td class="td-teal">{{ plan.status }}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>