<div class="bg-teal-300 grid grid-cols-2">
  <div class="col-span-1 flex justify-center">
    <img class="w-2/3 xl:w-1/3 py-3" src="../assets/img/Logo.png" alt="" />
  </div>
  <div
    class="col-span-1 w-full justify-center flex items-center divide-x divide-slate-800"
  >
    <!-- <span class="flex mr-3">
      <div class="mx-3 p-1 rounded bg-teal-500 hover:bg-teal-600">
        <img class="" src="assets/img/facebook.svg" alt="fb" />
      </div>
      <div class="mr-3 p-1 rounded bg-teal-500 hover:bg-teal-600">
        <img src="assets/img/twitter.svg" alt="tw" />
      </div>
      <div class="mr-3 p-1 rounded bg-teal-500 hover:bg-teal-600">
        <img src="assets/img/instagram.svg" alt="ig" />
      </div>
      <div class="mr-3 p-1 rounded bg-teal-500 hover:bg-teal-600">
        <img src="assets/img/pinterest.svg" alt="pr" />
      </div>
    </span> -->
  </div>
</div>
