<div class="py-2 flex justify-around">
  <div class="bg-teal-200 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500">
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-1">
        Update Profile
      </div>
      <span class="text-lg pb-5 flex justify-center">Kindly enter the credentials</span>
      <div class="flex justify-center font-semibold text-lg">
        <form class="w-full text-teal-900" #updateForm="ngForm" (ngSubmit)="updateAgent()">
          <div class="">
            <label for=""> Employee name</label>
            <div class="mt-1">
              <input class="input-teal" placeholder="Enter your name" type="text" name="username" />
            </div>
          </div>

          <div class="">
            <label for=""> Login Id</label>
            <div class="mt-1">
              <input class="input-teal" type="email" placeholder="Enter Agent Email" name="email" />
            </div>
          </div>

          <div class="">
            <label for=""> Password</label>
            <div class="mt-1">
              <input class="input-teal" type="password" placeholder="Enter Agent Password" name="password" />
            </div>
          </div>

          <div class="">
            <label for=""> Confirm Password</label>
            <div class="mt-1">
              <input class="input-teal" type="password" placeholder="Enter Password again" name="cPassword" />
            </div>
          </div>

          <div class="flex justify-center">
            <input class="btn-teal text-3xl mt-5 py-2 px-3" type="submit" name="submit" value="submit" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>