<div class="py-2 flex justify-around">
  <div
    class="bg-teal-200 lg:w-3/5 p-5 my-5 rounded-lg shadow-md shadow-teal-500"
  >
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        View Feedback
      </div>

      <div class="flex justify-center font-semibold text-lg">
        <form class="w-full text-teal-900" action="">
          <div class="flex justify-between items-center">
            <div class="flex">
              <span> Show</span>
              <select
                class="input-teal h-10 mx-2"
                name="document"
                id="document"
              >
                <option class="bg-teal-600 text-white" value="1">1</option>
                <option class="bg-teal-600 text-white" value="2">2</option>
                <option class="bg-teal-600 text-white" value="3">3</option>
                <option class="bg-teal-600 text-white" value="4">4</option>
                <option class="bg-teal-600 text-white" value="5">5</option>
                <option class="bg-teal-600 text-white" value="6">6</option>
                <option class="bg-teal-600 text-white" value="7">7</option>
                <option class="bg-teal-600 text-white" value="8">8</option>
                <option class="bg-teal-600 text-white" value="9">9</option>
                <option class="bg-teal-600 text-white" value="10">10</option>
              </select>
              <span> Entries</span>
            </div>
            <div class="">
              <label for=""> Search</label>
              <input
                class="input-teal"
                placeholder="Enter Account Number"
                type="text"
                name="accountNumber"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <br /><br />
    <div class="flex justify-center">
      <div>
        <table class="table-teal">
          <thead class="thead-teal">
            <tr>
              <th class="th-teal">Customer</th>
              <th class="th-teal">Title</th>
              <th class="th-teal">Message</th>
              <th class="th-teal">Contact Date</th>
              <th class="th-teal">Relpy</th>
              <th class="th-teal">Update</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr class="tr-teal">
              <td class="td-teal">Subhranil</td>
              <td class="td-teal">Query</td>
              <td class="td-teal">About Insurence</td>
              <td class="td-teal">10/10/2021</td>
              <td class="td-teal p-1">
                <textarea class="bg-teal-50"></textarea>
              </td>
              <td class="td-teal">
                <a href="update-agent-record.html">
                  <input
                    class="btn-teal mt-1 py-2 px-3"
                    type="submit"
                    name="submit"
                    value="edit"
                  />
                </a>
              </td>
              <td class="td-teal">
                <a href="#">
                  <input
                    class="btn-red mt-1 py-2 px-3"
                    type="submit"
                    name="submit"
                    value="delete"
                  />
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="mt-2">
          <span>Showing 1 to 1 of 1 entries</span>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <input
        class="btn-teal mt-5 py-2 px-3"
        type="submit"
        name="submit"
        value="previous"
      />
      <input
        class="btn-teal mt-5 py-2 px-3"
        type="submit"
        name="submit"
        value="1"
      />

      <input
        class="btn-teal mt-5 py-2 px-3"
        type="submit"
        name="submit"
        value="next"
      />
    </div>
  </div>
</div>
