<div class="py-2 flex justify-around">
  <div class="bg-teal-200 2xl:w-5/6 p-5 my-5 rounded-lg shadow-md shadow-teal-500">
    <div>
      <div class="text-4xl text-teal-900 underline flex justify-center pb-5">
        Installment Payments
      </div>
    </div>
    <br /><br />
    <div class="flex justify-center">
      <table class="table-teal">
        <thead class="thead-teal">
          <tr>
            <th class="th-teal">Account Number</th>
            <th class="th-teal">Insurance Scheme</th>
            <th class="th-teal">Insurance Plan</th>
            <th class="th-teal">Installment Date</th>
            <th class="th-teal">Installment No</th>
            <th class="th-teal">Installment Ammount</th>
            <th class="th-teal">Status</th>

            <th class="th-teal">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tr-teal" *ngFor="let payment of payments">
            <td class="td-teal">
              {{ payment.insuranceAccount.insuranceAccountId }}
            </td>
            <td class="td-teal">
              {{ payment.insuranceAccount.insuranceScheme }}
            </td>
            <td class="td-teal">
              {{ payment.insuranceAccount.insurancePlan }}
            </td>
            <td class="td-teal">
              {{ payment.installmentDate | date: "shortDate" }}
            </td>
            <td class="td-teal">
              {{ payment.installmentNo }}
            </td>
            <th class="td-teal">
              {{ payment.installmentAmount | number: ".2-2" }}
            </th>
            <th class="td-teal">{{ payment.paymentStatus }}</th>
            <td class="td-teal" *ngIf="payment.paymentStatus === 'due'; else block">
              <button class="btn-teal" (click)="makePayment(payment)">payment</button>
            </td>
            <ng-template #block>
              <td>
                <button class="btn btn-success" [disabled]="payment.paymentStatus === 'paid'">
                  paid
                </button>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>